
/* Side Navbar (Initially hidden) */
.side-navbar {
    height: 100vh; 
    width: 250px; 
    background-color: #130412;
    position: fixed; 
    top: 0;
    left: -250px; 
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: left 0.3s ease; /* Slide in and out effect */
    overflow-y: auto;
    font-family: "Josefin Sans";
}

/* Show sidebar when active (when toggled) */
.side-navbar.open {
    left: 0; 
}


/* Hamburger Menu Button */
.hamburger-menu {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    font-size: 40px;
    color: white;
    z-index: 100; /* Make sure it appears on top */
    
}



.hamburger-menu:hover {
    transform: scale(1.04);
}

/* Navbar Links */
.side-navbar a {
    text-decoration: none;
    color: white;
    padding: 15px;
    text-align: left;
    margin-left: 20px;
    width: 100%;
    font-size: 1.3rem;
    transition: background-color 0.3s;
    border-bottom: none;
}

.home-link {
    margin-top: 80px;
}

.side-navbar ul li {
    padding: 15px;
    text-align: center;
    font-size: 18px;
    border-bottom: none; /* Remove the bottom border */
  }

/* Hover effect for navbar links */
.side-navbar a:hover {
    background-color: #210b20;
    transform: scale(1.04);
}

/* Active link styling */
/* .side-navbar a.active {
    background-color: #2980b9;
} */

/* Main content area */
.main-content {
    margin-left: 0; /* Adjust for the sidebar space */
    padding: 20px;
    width: 100%;
    transition: margin-left 0.3s ease; /* For smooth transition when sidebar opens */
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
    .side-navbar {
        width: 200px;
    }

    .main-content {
        margin-left: 0; /* Reset margin-left for smaller screens */
    }
}
