.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    
}

.hero h1 {
    font-size: 7rem;
    font-family: "Irish Grover";
    margin-bottom:  12px;
}

.home-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    font-family: "Josefin Sans";
    
}

.home-create-button, .home-library-button {

    background-color: white;  
    color: black; 
    padding: 10px 20px; 
    font-size: 1.2rem; 
    border-radius: 20px; 
    border: none; 
    cursor: pointer; 
    text-decoration: none; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.home-create-button:hover, .home-library-button:hover {
    background-color: rgba(255, 255, 255, 0.5); 
    transform: scale(1.03); 
}

