

.library-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.library-title {
    margin-top: 0;
    font-size: 3rem;
   
    font-family: "Irish Grover";
    text-align: center;
}

.library-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}

.library-item {
    text-align: center;
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 8px;
    
}


.library-image {
    width: 100%;
    height: auto;
    object-fit: contain; 
    display: block; 
    border-radius: 5px;
}


.image-prompt {
    margin-top: 10px;
    color: white;
    font-family: Rubik;
}

.error-message, .loading-message {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin: 20px 0;
}




.no-images {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: white;
    

    font-family: "Josefin Sans";
    font-size: 1.7rem;
    color: #170516;
    text-align: center;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    margin-top: 50px;

    
    

    
    

}


.create-button {
    background-color: #170516;  
    color: white; 
    padding: 10px 20px; 
    font-size: 1.2rem; 
    border-radius: 20px; 
    border: none; 
    cursor: pointer; 
    text-decoration: none; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.create-button:hover {
    background-color: #30162f;
    transform: scale(1.03); 
}
